/out/production/Bookstore/bg/smg/Author.class
/.idea/.gitignore
/out/production/Bookstore/bg/smg/Book.class
/out/production/Bookstore/bg/smg/Bookstore.class
/.idea/Bookstore.iml
/out/production/Bookstore/bg/smg/Client.class
/out/production/Bookstore/bg/smg/Main.class
/.idea/misc.xml
/.idea/modules.xml
/.idea/runConfigurations.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
